body {
  font-family: 'Europa';
  margin: 0px;
  -webkit-overflow-scrolling: touch !important;

  #app-container {
    background: #F6F4F0;
    height: 100vh;
  }
}

div, form, table {
  -webkit-overflow-scrolling: touch !important;
}

.hide {
  display: none !important;
}

.no-padding{
  padding-right:0px !important;
  padding-left:0px !important;
}

.no-margin{
  margin-right:0px !important;
  margin-left:0px !important;
}

*:focus{
  outline: none;
}

.page-container {
  width: 100% !important;
  height: 100% !important;
}

a {
  color: #797575;
  text-decoration: underline;
}

.input-container{
  input{
    width: 100%;
    background: none;
    border: none;
    font-size: 21px;
    color: white;
  }
  input::-webkit-input-placeholder {
    opacity: 0;
  }
  .placeholder{
    color: #FCCBBB;
    font-size: 20px;
    position: relative;
    transition: top 0.2s ease-out;
  }

  width: 100%;
  border: none;
  height: 72px;
  margin: 5px 0px;
  padding: 0px 15vw;
  background: #726D6D;
  color: white;
  box-sizing: border-box;
  position: relative;
  padding-top: 10px;
  &:focus{
    outline: none;
  }
}

.fade-enter {
  opacity: 0.5;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}