#contacts-container{

  #contacts-list-container{
    width: 100%;
    height: 85vh;
    .contacts-title{
      text-align: center;
      width: 100%;
      height: 5vh;
      font-size: 22px;
    }
    .contacts-container{
      height: 70vh;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
    .contacts-navigation{
      height: 10vh;
      overflow-x: scroll;
      width: 100%;
      padding-top: 15px;
      box-shadow: 0px 5px 22px #1f1c1c;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
    }
  }


  .contacts-list {
    height: calc(100% - 50px);

    .contact-item {
      height: 50px;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      padding-left: 25px;
      color: #FFF;
      font-size: 20px;
      line-height: 50px;
      font-weight: normal;
      background-color: #DDB2B2;

      &.active {
        background-color: #797575;
      }

    }

  }

  .contacts-navigation {
    height: 50px;
    width: 100%;
    padding-top: 5px;

    .alpha-sort {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      color: #797575;
      display:inline-block;
      text-align: center;
      line-height: 40px;
      text-transform: uppercase;
      white-space: normal;


      &:first-child {
        margin-left: 5px;
      }
      &:last-child {
        margin-right: 10px;
      }

      &.active {
        color: #FFF;
        background-color: #797575;
      }

    }

  }

}