#header-nav{
  height: 10vh;
  margin-top: 5vh;
  width: 100%;
  .header-nav-title{
    text-align: center;
    color: #2A2828;
    font-family: Europa;
    font-size: 25px;
  }
  .fa-chevron-left{
    color: #726D6D;
    font-size: 30px !important;
  }
}