#header-nav{
  height: 10vh;
  margin-top: 20px;
  width: 100%;
  .header-nav-title{
    text-align: center;
    color: #2A2828;
    font-family: Europa;
    font-size: 20px;
  }
  .fa-chevron-left{
    color: #726D6D;
    margin-left: 10px;
    font-size: 28px !important;
  }
  .logo-header {
    img {
      margin-left: 5px;
      width: 170px !important;
    }
  }

  .menu-header {
    right: 20px;
    position: absolute;
    background-image: url("/img/ellipse-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 40px;
  }

}