@font-face {
  font-family: 'Capitolum';
  src: url('/fonts/capitolum.eot'); /* IE9 Compat Modes */
  src: url('/fonts/capitolum.eot') format('embedded-opentype'); /* IE6-IE8 */
}
@font-face {
  font-family: 'Europa';
  src: url('/fonts/europa.eot'); /* IE9 Compat Modes */
  src: url('/fonts/europa.eot') format('embedded-opentype'); /* IE6-IE8 */
}