#login-form{
  .error{
    display: none;
  }
  height: 80vh;
  width: 100%;
  overflow: scroll;
  .input-container{
    input{
      width: 100%;
      background: none;
      border: none;
      font-size: 21px;
      color: white;
    }
    input::-webkit-input-placeholder {
      opacity: 0;
    }
    .placeholder{
      color: #DDB2B2;
      font-size: 20px;
      position: relative;
    }



    width: 100%;
    border: none;
    height: 11vh;
    margin: 3px 0px;
    padding: 0px 15vw;
    background: #726D6D;
    color: white;
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;
    &:focus{
      outline: none;
    }
  }

  input::-webkit-input-placeholder {
    color: #DDB2B2;
  }

  button{
    margin: 0 auto;
    width: 80%;
    background: #726D6D;
    color: #DDB2B2;
    border: none;
    display: block;
    padding: 13px;
    margin-top: 5vh;
    border-radius: 33px;
    font-size: 32px;
    font-family: Europa;
    letter-spacing: 3px;
    &:disabled{
      background: #a7a0a0;
    }
  }
}