#login-form{
  .error{
    display: none;
  }
  height: 80vh;
  width: 100%;
  overflow: scroll;

  input::-webkit-input-placeholder {
    color: #DDB2B2;
  }

  button{
    margin: 0 auto;
    width: 80%;
    background: #726D6D;
    color: #FCCBBB;
    border: none;
    display: block;
    padding: 13px;
    margin-top: 5vh;
    border-radius: 50px;
    font-size: 22px;
    font-family: Europa;
    letter-spacing: 3px;
    &:disabled{
      background: #a7a0a0;
    }
  }
}