#social-media-login{
  margin-top: 50px;
  .sm-button-container{
    text-align: center;
    .fa{
      background: #726D6D;
      width: 72px;
      height: 72px;
      color: #FCCBBB;
      padding: 13px 0px;
      box-sizing: border-box;
      border-radius: 50%;
      line-height: 48px;
      font-size: 36px;
    }
  }
}