#social-media-login{
  .sm-button-container{
    text-align: center;
    .fa{
      background: grey;
      width: 60px;
      height: 60px;
      color: #FCCBBB;
      padding: 13px 0px;
      box-sizing: border-box;
      border-radius: 50%;
      margin-top: 26px;
      font-size: 35px;
    }
  }
}