#import-page{
  height: 100vh !important;
  letter-spacing: 1px;
  color: #2A2828;
  .wrapper {
    width: 100%;
  }
  .title{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 22px;
  }
  .content{
    width: 75%;
    margin: 32px auto;
    font-size: 18px;
    line-height: 25px;
  }
  .contacts-title{
    width: 100%;
    margin: 10px auto;
    font-weight: 100;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
  }
}

#contacts-container {
  height: calc(100% - 65px - 10vh);

  .contacts-list {
    height: calc(100% - 50px);

    .contact-item {
      height: 50px;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      padding-left: 25px;
      color: #FFF;
      font-size: 20px;
      line-height: 50px;
      font-weight: normal;
      background-color: #DDB2B2;

      &.active {
        background-color: #797575;
      }

    }

  }

  .contacts-navigation {
    height: 50px;
    width: 100%;
    padding-top: 5px;

    .alpha-sort {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      color: #797575;
      margin-left: -10px;
      float: left;
      text-align: center;
      line-height: 40px;
      overflow-x: scroll;


      &:first-child {
        margin-left: 5px;
      }
      &:last-child {
        margin-right: 10px;
      }

      &.active {
        color: #FFF;
        background-color: #797575;
      }

    }

  }

}

#import-buttons{

  .instructions{
    width: 75%;
    margin: 0 auto;
    margin-top:20px;
    font-size: 18px;
    color: #2A2828;
  }
  .buttons-container{
    margin: 20px auto;
    width: 60%;
    text-align: center;
    .button-grid {
      width: 33%;
      margin: 20px 0px;
      display: inline-block;
      .button-item {
        background-color: #726D6D;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        display: inline-block;
        box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .reminder{
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
    color: #2A2828;
  }
}

button.swal2-confirm {
  background: #726D6D !important;
  letter-spacing: 3px;
  color: #FCCBBB !important;
  border-radius: 30px;
}
button.swal2-cancel {
  background: #FFF !important;
  letter-spacing: 3px;
  color: #797575 !important;
  border-radius: 30px;
}


#phoneImport {
  &.android {
    background-image: url('/img/import-icons/android.svg');
  }
  &.iphone {
    background-image: url('/img/import-icons/iphone.svg');
  }
}

#facebookImport {
  background-image: url('/img/import-icons/facebook.svg')
}

#googleImport {
  background-image: url('/img/import-icons/googleplus.svg')
}

#linkedinImport {
  background-image: url('/img/import-icons/linkedin.svg')
}

#whatsappImport {
  background-image: url('/img/import-icons/whatsapp.svg')
}

#twitterImport {
  background-image: url('/img/import-icons/twitter.svg')
}