#import-page{
  height: 100vh !important;
  letter-spacing: 1px;
  color: #2A2828;
  display: block;
  .wrapper {
    width: 100%;
  }
  .title{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 22px;
  }
  .content{
    width: 75%;
    margin: 32px auto;
    font-size: 18px;
    line-height: 25px;
  }
  .contacts-title{
    width: 100%;
    margin: 10px auto;
    font-weight: 100;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
  }
}

#import-buttons{

  .instructions{
    width: 75%;
    margin: 0 auto;
    margin-top:20px;
    font-size: 18px;
    color: #2A2828;
  }
  .buttons-container{
    margin: 20px auto;
    width: 60%;
    text-align: center;
    .button-grid {
      width: 33%;
      margin: 20px 0px;
      display: inline-block;
      .button-item {
        background-color: #726D6D;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        display: inline-block;
        box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .reminder{
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
    color: #2A2828;
  }
}

button.swal2-confirm {
  background: #726D6D !important;
  letter-spacing: 3px;
  color: #FCCBBB !important;
  border-radius: 30px;
  width: 100%;
}
button.swal2-cancel {
  background: #FFF !important;
  letter-spacing: 3px;
  color: #797575 !important;
  border-radius: 30px;
}


#phoneImport {
  &.android {
    background-image: url('/img/import-icons/android.svg');
  }
  &.iphone {
    background-image: url('/img/import-icons/iphone.svg');
  }
}

#facebookImport {
  background-image: url('/img/import-icons/facebook.svg')
}

#googleImport {
  background-image: url('/img/import-icons/googleplus.svg')
}

#linkedinImport {
  background-image: url('/img/import-icons/linkedin.svg')
}

#whatsappImport {
  background-image: url('/img/import-icons/whatsapp.svg')
}

#twitterImport {
  background-image: url('/img/import-icons/twitter.svg')
}